<center> <h1> Cour2:Revision python </h1> </center>

<h4> 5. Les Boucles </h4>

5.1 La boucle for

In [118]:
print([i for i in range(11)])
print([i for i in range(5,11)])
print([i for i in range(5,101,5)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [119]:
for k in range(10):
    print(k)

0
1
2
3
4
5
6
7
8
9

In [120]:
for k in range(10):
    print(k,end=' ')

0 1 2 3 4 5 6 7 8 9

In [121]:
for k in range(10):
    print(k**2,end=' ')

0 1 4 9 16 25 36 49 64 81

In [122]:
chaine1 ='Teccart'
for i in chaine1:
    print(i,end=' - ')

T - e - c - c - a - r - t -

In [123]:
for k in range(10):
    print(k,end=' ')
    print(f'5*{i} = {5*i}')

0 5*t = ttttt
1 5*t = ttttt
2 5*t = ttttt
3 5*t = ttttt
4 5*t = ttttt
5 5*t = ttttt
6 5*t = ttttt
7 5*t = ttttt
8 5*t = ttttt
9 5*t = ttttt

In [124]:
for j in range(1,11):
    print(f'La table de multiplication de {j} =\n----------------------------')
    for i in range(11):
        print(f'{i}*{j} = {i*j}')

La table de multiplication de 1 =
----------------------------
0*1 = 0
1*1 = 1
2*1 = 2
3*1 = 3
4*1 = 4
5*1 = 5
6*1 = 6
7*1 = 7
8*1 = 8
9*1 = 9
10*1 = 10
La table de multiplication de 2 =
----------------------------
0*2 = 0
1*2 = 2
2*2 = 4
3*2 = 6
4*2 = 8
5*2 = 10
6*2 = 12
7*2 = 14
8*2 = 16
9*2 = 18
10*2 = 20
La table de multiplication de 3 =
----------------------------
0*3 = 0
1*3 = 3
2*3 = 6
3*3 = 9
4*3 = 12
5*3 = 15
6*3 = 18
7*3 = 21
8*3 = 24
9*3 = 27
10*3 = 30
La table de multiplication de 4 =
----------------------------
0*4 = 0
1*4 = 4
2*4 = 8
3*4 = 12
4*4 = 16
5*4 = 20
6*4 = 24
7*4 = 28
8*4 = 32
9*4 = 36
10*4 = 40
La table de multiplication de 5 =
----------------------------
0*5 = 0
1*5 = 5
2*5 = 10
3*5 = 15
4*5 = 20
5*5 = 25
6*5 = 30
7*5 = 35
8*5 = 40
9*5 = 45
10*5 = 50
La table de multiplication de 6 =
----------------------------
0*6 = 0
1*6 = 6
2*6 = 12
3*6 = 18
4*6 = 24
5*6 = 30
6*6 = 36
7*6 = 42
8*6 = 48
9*6 = 54
10*6 = 60
La table de multiplication de 7 =
----------------------------
0*7 = 0
1*7 = 7
2*7 = 14
3*7 = 21
4*7 = 28
5*7 = 35
6*7 = 42
7*7 = 49
8*7 = 56
9*7 = 63
10*7 = 70
La table de multiplication de 8 =
----------------------------
0*8 = 0
1*8 = 8
2*8 = 16
3*8 = 24
4*8 = 32
5*8 = 40
6*8 = 48
7*8 = 56
8*8 = 64
9*8 = 72
10*8 = 80
La table de multiplication de 9 =
----------------------------
0*9 = 0
1*9 = 9
2*9 = 18
3*9 = 27
4*9 = 36
5*9 = 45
6*9 = 54
7*9 = 63
8*9 = 72
9*9 = 81
10*9 = 90
La table de multiplication de 10 =
----------------------------
0*10 = 0
1*10 = 10
2*10 = 20
3*10 = 30
4*10 = 40
5*10 = 50
6*10 = 60
7*10 = 70
8*10 = 80
9*10 = 90
10*10 = 100

In [125]:
Smme =0
for i in range(1,101):
  Smme += i
print(f'-------------------\n La Somme est : {Smme}')

-------------------
 La Somme est : 5050

In [126]:
Smme =0
for i in range(101):
  if i%2==0:
      Smme += i
print(f'-------------------\n La Somme est : {Smme}')

-------------------
 La Somme est : 2550

In [127]:
liste1 = [5,8,15]
for x in liste1:
    print(x)

5
8
15

5.2 La boucle while

In [128]:
count =2
while count <= 10:
    print('count ',count)
    count+=1

count  2
count  3
count  4
count  5
count  6
count  7
count  8
count  9
count  10

In [129]:
i=0
while i<10:
    i+=1
    if i%2==0:
        continue
    print('i=',i)

i= 1
i= 3
i= 5
i= 7
i= 9

In [130]:
i=0
while True:
    print(i)
    i+=1
    if i>=20:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [131]:
count =0
while count < 10:
    count+=1
    print(count)
else:
    print('fin')

1
2
3
4
5
6
7
8
9
10
fin

<h3>6.les Listes</h3>

In [132]:
liste1 =[]
liste2= [1,5,8,10]
for x in liste2:
    print(x)

1
5
8
10

In [133]:
listes3=[]
for x in range(10):
    listes3.append(x)
    print(listes3)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [134]:
listes4=liste2+listes3
print(listes4)

[1, 5, 8, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
L1=[5,8,7,9,5,-10]
L2=[-5,18,-77,59,87]
for i,j in zip(L1,L2):
    print(i,' -- ',j)

5  --  -5
8  --  18
7  --  -77
9  --  59
5  --  87

In [136]:
print([x+y for x,y in zip(L1,L2)])

[0, 26, -70, 68, 92]

In [137]:
L3=[-5,18,-77,59,87]
print(f' Le max est : {max(L3)}')
print(f' Le min est : {min(L3)}')
print(f' Le sum est : {sum(L3)}')
L4=sorted(L3)
print(L3)
print(L4)

 Le max est : 87
 Le min est : -77
 Le sum est : 82
[-5, 18, -77, 59, 87]
[-77, -5, 18, 59, 87]

In [138]:
days=['lundi','mardi','mercredi','vendredi']
print(days[-1])
days.insert(3,'jeudi')
print(days)

vendredi
['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']

In [139]:
days.insert(2,[8,10])
print(days)

['lundi', 'mardi', [8, 10], 'mercredi', 'jeudi', 'vendredi']

In [140]:
print(days[2][1])

10

In [141]:
list(range(100,0,-10))

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

<h3> 7. Les tuples</h3>

In [142]:
tuple1=1,2,30
tuple2=4,5,6
print(tuple1)
print(tuple2)

(1, 2, 30)
(4, 5, 6)

In [143]:
tuple1[0]

1

In [144]:
tuple_concat=tuple1+tuple2
print(tuple_concat)

(1, 2, 30, 4, 5, 6)

In [145]:
tuple3=1,2
tuple4=tuple3*5
tuple4

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [146]:
a,b=tuple3
print(a)
print(b)

1
2

In [148]:
tuple5='ab',145,78,25
tuple5

('ab', 145, 78, 25)

<h3> Les dictionnaires</h3>

In [150]:
dict1={'cle1':'val1', 'cle2':'val2'}
print(dict1)

{'cle1': 'val1', 'cle2': 'val2'}

In [151]:
dict2={'cle1':5, 'cle2':'val2'}
print(dict2)

{'cle1': 5, 'cle2': 'val2'}

In [152]:
dict3= {1: 'val1', 2:'val2'}
print(dict3)

{1: 'val1', 2: 'val2'}

In [154]:
dict3[1]='val1b'
dict3

{1: 'val1b', 2: 'val2'}

In [157]:
print(dict1['cle1'])
print(dict1.keys())
print(dict1.values())

val1
dict_keys(['cle1', 'cle2'])
dict_values(['val1', 'val2'])

In [158]:
for x in dict1.keys():
    print(x)

cle1
cle2

In [159]:
for x in dict1.values():
    print(x)

val1
val2

<h3> 9. Les fonctions</h3>

In [160]:
def operation(a,b):
    add=a+b
    prod=a*b
    sous=a-b
    div=a/b
    return add,prod,sous,div

In [165]:
w,x,y,z=operation(10,8)
print(w,x,y,z)

18 80 2 1.25

In [166]:
w,x,y,_=operation(10,8)
print(w,x,y)

18 80 2

In [168]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)

In [169]:
print(f'Le factoriel est : ',fact(6))

Le factoriel est :  720

In [170]:
compteur =0
def incrementer():
   global compteur
   compteur += 1
   print(f"Compteur a l'interieur :{compteur} " )
def afficher_compteur():
  print(f"Compteur : {compteur} ")

In [177]:
afficher_compteur()
incrementer()
afficher_compteur()

Compteur : 6
Compteur a l'interieur :7
Compteur : 7